body {
    color: #000000;
}

/* Header */

#skip {
    position: fixed;
    top: -20px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

/* Navigation */

nav {
    display: block;
    width: 95%;
    margin: 0px auto;
}

nav li:hover {
    background-color: #22282c;
}

nav ul {
    padding-left: 0px;
}

nav li {
    display: block;
    padding: 2px 0px;
    background-color: #4e5c64;
}

.item-1 {
    border-radius: 10px 10px 0px 0px;
}

.item-3 {
    border-radius: 0px 0px 10px 10px;
}

.active {
    background-color: #023b06;
}

.active-icon {
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 100%;
    margin-left: 10px;
}

nav a {
    display: inline;
    text-decoration: none;
    padding-left: 10px;
    color: white;
    width: 100%;
}

@keyframes icon-transformation {
    from {border-radius: 100%;}
    to {border-radius: 0%;}
}

.icon {
    display: none;
    visibility: hidden;
    width: 5px;
    height: 5px;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 100%;
    margin-left: 10px;
}

li:hover .icon {
    display: inline-block;
    visibility: visible;
    animation-name: icon-transformation;
    animation-duration: 3s;
}

li:hover a {
    padding-left: 10px;
}

/* Pets */

div {
    width:80%;
    margin: auto;
}

div.pet {
    border: 5px solid black;
    border-radius: 30px;
    padding: 30px;
    margin: 0px auto 10px auto;
}

img {
    display: block;
    width: 80%;
    border: 5px solid #015048;
    padding: 10px;
    margin: auto;
    border-radius: 30px;
}

div.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/* Travel */

figure {
    display: grid;
    margin-left: 0px;
    grid-template-columns: 10fr 1fr;
    gap: 10px;
    width: 100%;
}

figcaption {
    margin: auto;
}